.main{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  position: relative;

}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
.selected-list{
  position: sticky;
  top: 0; 
}
.color{
  color: #5147b0;
  font-weight: 600;
}
.button-group{
  display: flex;
  justify-content:space-between;
}
@media screen and (max-width: 768px) {
    .products{
      grid-template-columns: repeat(2,1fr);
      grid-gap: 20px;
    
    }
    
  }
@media screen and (max-width: 425px) {
    .products{
      grid-template-columns: 1fr;
      grid-gap: 20px;
    
    }
    
  }