.App {
  text-align: center;
  margin: 20px 30px 50px 30px;
  font-family: 'Poppins',sans-serif;
  position: relative;
}
.website-name{
  font-weight: bold;
  position: relative;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (max-width: 768px) {
  .main{
    grid-template-columns: 1fr;  
  }
  
}